* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#piano {
    width: 95vw;
    height:90vh;
    margin:auto  ;
    border:solid black 1px;
    display: flex;
    flex-flow: row wrap;
    background-color: red;
    padding:2.5%;
}

.key {
    width: 20%;
    height: 20%;
    border: solid darkred 1px;
}

.key:hover {
    border: solid darkred 3px;
}

.white-key {
    background-color: white;
}

.black-key {
    background-color: black;
}

#starttext {
   padding: 5%;
}
#startsound {
    width: 95vw;
    height: 10vh;
    text-align: center;
    background-color: dimgrey;
    margin: auto;
}


