* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
   height: 100%;
   background: navy;
}

#piano {
    width: 95vw;
    height:90vh;
    margin:5vh auto 0 auto;
    border:solid black 1px;
    display:none;
    /*display: flex;*/
    flex-flow: row wrap;
    background-color: red;
    padding:2.5%;
}

.key {
    width: 20%;
    height: 20%;
    border: solid darkred 1px;
}

.key:hover {
    border: solid darkred 3px;
}

.white-key {
    background-color: white;
}

.black-key {
    background-color: black;
}

#starttext {
   padding-top: 25%;
   color: ivory;
}
#startsound {

    width: 25vw;
    height: 10vh;
    text-align: center;
    background-color: dimgrey;
    margin: 45vh auto 0 auto;
}
